/*HEADER*/

.headersection {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00B52E;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 101;
 

   
    .mainTitle {
        
        display: none;
    }

    .mobilTitle {
        color: #fafafa;
        font-weight: bolder;
        font-size: 23px;

        .oColor {
           color: #ffdf00;
        }
    }


    .iconHamburger {

        display: flex;
        color: #fafafa;
        font-size: 35px;
        
    }


    .navList {

        display: none;
        
    }

    .showMenu {

        display: block; 
        background-color: #00B52E;
        position: absolute; 
        width: 100%; 
        margin: 40px 0;
        height: 230px;
        text-align: center;
        left: 0;
       

        & li {

             margin: 30px;
        }

    }
    

        .navLink {

            text-decoration: none;
            color:#fafafa;
            font-size: 1.2em;
            
          
        }

        .initLink {

            color: #ffdf00;          
        }
  
    }

    .headerIcons {

        display: flex;
        justify-items: center;
        color: #fafafa;
        font-size: 18px;
        gap: 12px;
        cursor: pointer;
        
    }

    .yellow {

        color: #ffdf00;
          
    }
}

/*END HEADER*/