/*MAIN*/


main {

    background-color: #f1fcf1;

}

/*CONTENEDOR CARRITO DE LA COMPRA*/

.shopContainer {

    display: none;
    background-color: #ffffff;
    width: 80%;
    height: auto;
    border-radius: 2%;
    margin: 80px 2%;
    padding: 30px 30px;
    position: absolute;
    z-index: 90;
    


    .shopTitle {

        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 30px;

    }

    .priceTotal {
        font-size: 1.1em;
        font-weight: bold;
        display: inline;

    }

    .priceTotalSpan {
        display: inline;
        font-size: 1.1em;
        font-weight: bold;    
    }


    .shopButtonDelete {

        background-color: #00B52E;
        border: none;
        width: 100%;
        height: 45px;
        color: #fafafa;
        font-size: 1em;
        padding: auto;
        border-radius: 7px;
        margin: 40px 0 20px 0;
        cursor: pointer;

    }


    .shopButtonProceed {

        background-color: #00B52E;
        border: none;
        width: 100%;
        height: 45px;
        color: #fafafa;
        font-size: 1em;
        padding: auto;
        border-radius: 7px;
        cursor: pointer;

    }

}


.showCart {

    display: block;

}




.productAdd {

    display: flex;
    gap: 5px;
}


.tableProductAdd {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    color:#333333;
    margin-bottom: 30px;
   

    & th {
        font-weight: 450; 
        font-size: 17px;  
        padding: 10px 0;
        text-align: start;
        border-bottom: 1px solid #00B52E;
     }
         
     & th:nth-child(1){
        width: 30%;
     }

     & th:nth-child(2){
        text-align: center;
     }

     & th:nth-child(3){
        text-align: center;
     }

     & th:nth-child(4){
        text-align: center;
     }

     & th:nth-child(5){
        text-align: center;
     }

     & th:nth-child(6){
        text-align: center;
     }

    & td {
        padding: 15px 0;  
        vertical-align: middle;
        text-align: center;
    }

    & td:nth-child(1) {
        padding: 15px 0;  
        vertical-align: middle;
        text-align: start;
    }

   

    .addProduct {
        background-color: #ffffff;
        color: #00B52E;
        font-weight: bolder;
        border-radius: 5px;
        border: 1px solid #00B52E;
        padding: 3px;
        cursor: pointer;
    }

    .reduceProduct {
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #00B52E;
        color: #00B52E;
        padding: 3px;
        cursor: pointer;
    }

    .delete {
        background-color: #ffffff;
        color:#333333;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }
 
 
}



 

/*CONTENEDOR - SECCIÓN PRODUCTOS*/


.mainSection {

    display: block;
    justify-items: center;
    padding: 100px 15px;
    

    .containerPlant {

        background-color: #ffffff;
        text-align: center;
        border-radius: 2%;
        margin: 20px 20px;
        padding: 20px 20px;
        transition: all 0.500s ease;


        .figureImg {

            width: 33, 33%;
            height: auto;
            border-radius: 2%;


            .imagePlant {

                width: 100%;
                border-radius: 2%;

            }
        }

        .namePlant {

            color: #333333;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 23px;
            margin: 30px 0 20px 0;
        }

        .descriptionPlant {

            color: #333333;
            margin: 20px 0;
            line-height: 23px;
            min-height: 70px;
        }

        .priceUnitPlant {

            color: #333333;
            margin: 20px 0;

        }


        .buttonPlant {

            background-color: #00B52E;
            border: none;
            width: 100%;
            height: 50px;
            color: #fafafa;
            font-size: 1.1em;
            padding: auto;
            border-radius: 7px;
            cursor: pointer;

        }

    }

    .containerPlant:hover {

        transform: scale(105%);

    }

    

}


.alertPopup {

    background-color: yellow;
}

.alertContent {

    color:#00B52E;
}


/*END MAIN*/