@media(min-width: 768px) {


    /*HEADER*/

    .headersection {

        padding: 0 15px;

        .mainTitle {
            display: flex;
            color: #fafafa;
            font-weight: bolder;
            font-size: 30px;


            .oColor {
                color: #ffdf00;
            }
        }

        .mobilTitle {

            display: none;
        }

        .iconHamburger {

            display: none;

        }

        .navList {

            display: flex;
            gap: 15px;

            .navLink {

                font-size: 0.9em;              
            }
            
        }

        
        .headerIcons {

            font-size: 20px;
            gap: 15px;
        }

    }

    /*END HEADER*/



    /*MAIN*/


    /*CONTENDOR CARRITO*/

    .shopContainer {

       
        width: 30%;
        right: 0;
        margin: 80px 0;
  
    
        .shopTitle{
    
            font-size: 1.2em;
           
        }
    
        .priceTotal{
            font-size: 1.2em;
            
    
        }
    
        .priceTotalSpan{
           
            font-size: 1.2em;
           
        }
    
    
        .shopButtonDelet {
    
            height: 50px;
            font-size: 1.1em;
        
        }
    
    
        .shopButtonProceed {
    
            height: 50px;
            font-size: 1.1em;
           
        }
    
        
    }

    /* CONTENEDOR - SECCION PRODUCTOS*/


    .mainSection {

        display: grid;
        grid-template-columns: 50% 50%;
        padding: 140px 7%;

        .containerPlant{
        

            .descriptionPlant {
    
                min-height: 90px;
            }

        }
    }


/*END MAIN*/

/*FOOTER*/

    footer {

        height: 80px;
        background-color: #00B52E;
        color: #fafafa;
        text-align: center;
        line-height: 80px;
        font-size: 0.9em;
   
        }

}

/*END FOOTER*/



/* ------------------------- 1024 ------------------------------*/




@media(min-width: 1024px) {


    /*HEADER*/

    .headersection {



        .mainTitle {

            display: flex;
            font-size: 35px;

        }


        .mobilTitle {

            display: none;
        }


        .navList {


            gap: 40px;

            .navLink {


                font-size: 1.05em;

            }
        }

        .headerIcons {

            font-size: 25px;
            gap: 30px;
        }


    }

/*END HEADER*/



/*MAIN*/

     /*CONTENEDOR - SECCIÓN PRODUCTOS*/


     .mainSection {

        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
       

        .containerPlant{


            .namePlant{

                min-height: 20px;
            }
            
        

            .descriptionPlant {
    
                min-height: 70px;
            }

        }

    }


/*END MAIN*/


/*FOOTER*/

    footer {

        font-size: 1.05em;
    }
}

/*END FOOTER*/